# URL da API do Backend NestJS para o frontend DIVI
VITE_API_URL=http://localhost:3000

# ID do Cliente do Google OAuth obtido no Google Cloud Console
VITE_GOOGLE_CLIENT_ID=insira-seu-google-client-id-aqui.apps.googleusercontent.com